.contacts {
  display: inline-block;
}

.contacts--painted {
  padding: 5px;
  background: #ccc;
  border: 1px solid white;
  text-decoration: underline;
}

.contacts--painted .contacts__phone {
  color: black;
}

.contacts--painted .contacts__desc {
  color: black;
}

.contacts__phone {
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__desc {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
  font-weight: bold;
}
