
.desc__image {
  margin-bottom: 22px;
  width: 880px;
  height: 354px;
  background-image: url('../../img/decor/mountains.jpg');
  background-repeat: no-repeat;
  position: relative;
}

.desc__text {
  position: absolute;
  top: 49px;
  left: 65px;
  color: #fff;
  font-size: 49px;
  font-weight: bold;
  letter-spacing: .08em;
}

.desc__title {
  margin-bottom: 30px;
}

.desc__title-name {
  color: #5c5a5a;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #5c5a5a;
  display: inline-block;
  vertical-align: middle;
}

.desc__rating {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.desc__rating-star {
  background: url('../../img/icons/star.png') center center no-repeat;
  width: 19px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}

.desc__title-name:before {
  content: "";
  background: url('../../img/icons/home.png') center center no-repeat;
  width: 19px;
  height: 16px;
  display: inline-block;
}


.desc__info {
  color: #221f1f;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 50px;
}

.desc__info p {
  margin-bottom: 20px;
}

.desc__info b {
  font-weight: bold;
}

.desc__info ul {
  list-style-position: inside;
}

.desc__info li {
  list-style: disc;
  margin-bottom: 12px;
}
